# Python
__pycache__/
*.pyc

# Virtual Environment
.venv/
venv/

# Environment Variables
.env

# Logs
logs/
*.log

# Vector Databases
chroma_db/
faiss_index/

# Streamlit
.streamlit/

# OS Files
.DS_Store

# Jupyter
.ipynb_checkpoints/

# PDFs / Uploaded Files
data/
uploads/

# Torch / HF Cache
.cache/